
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1514273462556'); /* IE9*/
  src: url('iconfont.eot?t=1514273462556#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAAUUAAsAAAAAB8AAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFZW7kj+Y21hcAAAAYAAAABeAAABhp2IBr5nbHlmAAAB4AAAAUgAAAGsO46o1mhlYWQAAAMoAAAALwAAADYP73tiaGhlYQAAA1gAAAAcAAAAJAfeA4RobXR4AAADdAAAAAwAAAAMC+kAAGxvY2EAAAOAAAAACAAAAAgAdgDWbWF4cAAAA4gAAAAfAAAAIAETAF1uYW1lAAADqAAAAUUAAAJtPlT+fXBvc3QAAATwAAAAIgAAADPih+JweJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2Bk/sE4gYGVgYOpk+kMAwNDP4RmfM1gxMjBwMDEwMrMgBUEpLmmMDgwVDwXYW7438AQw9zA0AAUZgTJAQAk7AyBeJzFkMENgDAMAy9t6QPx7BA8GIgXc3TjjlFMKA8mqCXHimMpUYAFiOIhJrAL48Ep19yPrO4nz2SpEait9K7+U0U0y65BJTMNNm/1H5vXfXT6CnVQJ7byknADgzsL4wAAeJxVT81Kw2AQ3P1iftrmx375TxObNLZRWgvGtBex9eBF8SB48qYPoNceqhAQwYMHH0FE8CV68FVEwacwmjRY6rLMzM5cdoAF+HlnZowFKmzANhzACQByXWzJxMMgSvqki3rA6qYmM1EYBXzY6jN7aLY4zYiHScfkeE5BGddwJ4iHUZ9EOEhGZBdjw0O0G84pbbuUecSqFa3dZUfkGfVm6CqjreywN9ZiXxUmIqU2pQ8Cx7ICISuKjJemUWErVS57YRVHnzU3SRNFO3KOzyS/QS/ukyuvbVYQ0xTVhi+/jutOPd9rx1Cpza9KguVI4bqGk8+apYpe5wPy4QpgeuQcamCCDz0YwChvGxRdiu+TDr+kcVFxfobziP8zF4IRsxuZUhlvJUqlJf39lUuX0ulSMi0tuSR8KtClbyVhWvJ+Sem/EOAXlI0+HnicY2BkYGAAYgEWbuF4fpuvDNwsDCBwLUN6G4L+/5CFgVkCyOVgYAKJAgDQbQgKAHicY2BkYGBu+N/AEMPCAAJAkpEBFTADAEcJAmwEAAAAA+kAAAQAAAAAAAAAAHYA1nicY2BkYGBgZghkYGMAASYg5gJCBob/YD4DABEOAXEAeJxlj01OwzAQhV/6B6QSqqhgh+QFYgEo/RGrblhUavdddN+mTpsqiSPHrdQDcB6OwAk4AtyAO/BIJ5s2lsffvHljTwDc4Acejt8t95E9XDI7cg0XuBeuU38QbpBfhJto41W4Rf1N2MczpsJtdGF5g9e4YvaEd2EPHXwI13CNT+E69S/hBvlbuIk7/Aq30PHqwj7mXle4jUcv9sdWL5xeqeVBxaHJIpM5v4KZXu+Sha3S6pxrW8QmU4OgX0lTnWlb3VPs10PnIhVZk6oJqzpJjMqt2erQBRvn8lGvF4kehCblWGP+tsYCjnEFhSUOjDFCGGSIyujoO1Vm9K+xQ8Jee1Y9zed0WxTU/3OFAQL0z1xTurLSeTpPgT1fG1J1dCtuy56UNJFezUkSskJe1rZUQuoBNmVXjhF6XNGJPyhnSP8ACVpuyAAAAHicY2BigAAuBuyAmZGJkZmRhYGxgjW/JCO1iIEBABI1ArwAAA==') format('woff'),
  url('iconfont.ttf?t=1514273462556') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1514273462556#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-other:before { content: "\e714"; }

